.videos {
  align-items: center;
  margin-top: 2rem;
}

.centerVideo {
  margin-left: 6.5rem !important;
}

.btn-group {
  margin-top: 1.5rem;
  padding: .5rem;
  width: 100%;
}

.mat-tab-label {
  min-width: 25px !important;
  padding: 5px;
  background-color: rgba(19, 202, 141, 0.5);
  color: black;
  font-weight: 700;
}

td {
  text-align: center;
  font-size: .8rem;
}

