video {
    width:21rem;
    height: 12rem;
    object-fit: cover;
    border: solid .4rem rgb(19, 202, 141);
    border-radius: 1rem;
}
.label-name{
    background-color: rgba(255, 255, 255, 0.289);
    position: absolute;
    padding: .25rem;
    bottom: 0;
    /* margin: .55rem .15rem !important; */
  }



